.custom-file-label.custom_labelFile::after {
  display: none;
}
.custom-file-label.custom_labelFile {
  transition: 0.4s;
}
.custom-file-label.custom_labelFile:hover {
  color: rgb(119, 199, 0);
  cursor: pointer;
  border-color: rgb(119, 199, 0);
}
label.hover:hover {
  border-color: #f84646 !important;
  transform: scale(1.1);
  transition: 0.4s;
  color: #f84646;
}
label.hover {
  transition: 0.3s;
}

div.nav-tabs a.nav-item {
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #ddd;
  margin-right: 7px;
  border-bottom: 0px;
  color: #444;
  font-size: 0.9rem;
  transition: 0.3s;
  cursor: pointer;
}
div.nav-tabs a.nav-item.active {
  background: #ffffff;
  border-top: 1px solid #f85b5b;
  position: relative;
  background: #fff5f5;
  overflow: hidden;
  transition: 0.3s;
}
div.nav-tabs a.nav-item.active:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #f85b5b;
  top: 0;
  left: 0;
}

.table td {
  vertical-align: middle !important;
}

.react-google-flight-datepicker .date-picker-input {
  height: 38px;
}
.react-google-flight-datepicker .date-picker {
  background: transparent;
}
.main-sidebar .nav .nav-item .nav-link {
  font-weight: 500 !important;
}
